<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote of the Day</title>
    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Joke of the Day</h1>
        <div class="quote-box">
            <p id="quote">Carregando...</p>
        </div>
        <button id="new-quote-btn" onclick="newQuote()">New Joke</button>
    </div>
    <!-- Link para o arquivo JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
